<nav>
    <button><a href="">landing</a></button>
    <button><a href="">add transaction</a></button>
    <button><a href="">item list</a></button>
    <button><a href="">category list</a></button>
</nav>