<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hando | moving Company</title>
    <style>
        .container {
            background: url();
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>HANDO ONLINE LOGIN</h1>
        <form action="/">
            <label for="username">Username</label><br>
            <input type="text" name="username"><br>
            <label for="username">Username</label><br>
            <input type="text" name="username"><br>
        </form>
        <img src="../assets/loginimage.jpg" alt="login image">
    </div>
</body>
</html>
